*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Reem Kufi Fun', sans-serif;
    background-color: #e3e3e3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.main-continer {
  
  width: 100%;
  height: auto;
}

.title-container {
    display: flex;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #fff;
    border-radius: 4.2px;
    box-shadow: 0px 3px 10px -2px rgb(0 0 0 / 20%);
    padding: 1px 2px 2px 1px;
}

img {
   width: 45px; 
}

h2 {
    padding: 10px;
    margin-top: 10px;
    color: #533483;
}

input {
    width: 98%;
    height: 35px;
    border-radius: 2px;
    padding: 1em;
    line-height: 1.4;
    background-color: #f9f9f9;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    -webkit-transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    cursor: pointer;
    margin: 5px;
}

/* .button:hover {
    color: black;
    box-shadow: inset 200px 0 0 0 #f0a500;
}  */

.button {
    width: 200px;
    height: 45px;
    margin: 0 auto;
    padding: 0;
    font-size: 20px;
    border: solid 1px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

p {
    width: 80%;
    font-size: 15px;
    margin: 5px;
}
