@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}
<head>
<style>
body {
  background-color: linen;
}

h1 {
  color: brown;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: bold italic;
  margin-left: 40px;
  text-align: center;
  
}
#titulo
{
 
}
p {
    color: black;   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    font-weight: bold;
    text-align: center;
    background-image: url(https://ibb.co/0yWWqV0);

}
.div-1 
{
background-image: url(https://ibb.co/0yWWqV0);
}

</style>
</head>
<body>
<div class="div-1">
    <h1 id="titulo">Bienvenido al Sistema Veterinario: Mascota Feliz</h1>
    <p>Somos un servicio de veterinarios a domicilio<br> 
    al alcance de su bolsillo con el único proposito de hacer su mascota feliz.</p>
</div>

</body>
